<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dergview FC - Social Impact</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <style type="text/css">
            /* Force a new page after this element */
            .page-break {
                page-break-before: always;
            }
            section div {
                break-inside: avoid;
                page-break-inside: avoid;
            }
        </style>
    </head>
    <body class="bg-gray-100 text-gray-900 p-6">
        <div class="max-w-6xl mx-auto bg-red-700 shadow-lg p-8 rounded-lg">
            <section
                class="grid grid-cols-1 md:grid-cols-2 gap-4 grid-flow-row-dense auto-rows-min"
            >
                <div>
                    <h1 class="text-4xl text-white mb-4">{{title}}</h1>
                    <span class="text-white">{{introduction}}</span>
                </div>

                {{includeSocialROIStart}}
                <div class="bg-white p-4 rounded-lg">
                    <div
                        class="flex justify-between items-center pb-2 border-b-2 border-red-700"
                    >
                        <h2 class="text-l font-semibold uppercase text-red-700">
                            Social Impact (SROI)
                        </h2>
                        <img
                            src="social-value-engine-logo.png"
                            alt="Social Value Engine Logo"
                            class="h-6"
                        />
                    </div>
                    <p class="mt-4">
                        We have used the Social Value Engine, an online tool
                        accredited by Social Value International, which enabled
                        us with independent support from Rural Community Network
                        NI to identify a monetary value to represent the social
                        impact created through this project.
                    </p>
                </div>
                {{includeSocialROIEnd}} {{includeImpactStart}}
                <div
                    class="bg-white p-4 rounded-lg flex justify-between items-center"
                >
                    <div>
                        <h2
                            class="text-l font-semibold uppercase text-red-700 border-b-2 border-red-700 mr-4 pb-2"
                        >
                            Impact in Numbers
                        </h2>
                        <p class="mt-4">
                            £593,804.48 of social value achieved. For every £1
                            invested, £5.61 of social and economic value is
                            returned.
                        </p>
                    </div>
                    <div
                        class="bg-red-700 text-white w-36 h-20 flex items-center justify-center rounded-full text-center font-semibold text-l"
                    >
                        <p>
                            £1 =<br />
                            £5.61
                        </p>
                    </div>
                </div>
                {{includeImpactEnd}}
                <div class="bg-white p-4 rounded-lg">
                    <h2
                        class="text-l font-semibold text-red-700 border-b-2 border-red-700 uppercase pb-2"
                    >
                        Numbers
                    </h2>
                    <ul class="mt-4 list-disc pl-6">
                        <li>344 local people attending the facility</li>
                        <li class="mt-4">30 people attending training</li>
                        <li class="mt-4">12 volunteers</li>
                        <li class="mt-4">
                            389 people involved in sports/arts/social activities
                        </li>
                        <li class="mt-4">Partnership working with 3 groups</li>
                    </ul>
                </div>
                <div>
                    <h1 class="text-4xl text-white mb-4">Dergview FC</h1>
                    <div class="grid grid-cols-1 gap-4">
                        <div class="bg-white p-4 rounded-lg">
                            <h2
                                class="text-l font-semibold text-red-700 border-b-2 border-red-700 uppercase pb-2"
                            >
                                Impact Againt Sustainable Development Goals
                            </h2>
                            <p class="mt-4">
                                The Social Value Engine uses the UN Sustainable
                                Development Goals (SDG’s) to help organisations
                                to see how their project activity is building a
                                more attractive & sustainable community/place.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-1 gap-4">
                    <div class="bg-white p-4 rounded-lg">
                        <div
                            class="flex justify-between items-center pb-2 border-b-2 border-red-700"
                        >
                            <h2
                                class="text-l font-semibold uppercase text-red-700"
                            >
                                Outcomes
                            </h2>
                        </div>
                        <ul class="mt-4 list-disc pl-6">
                            <li>
                                Reduced social isolation for community members
                            </li>
                            <li class="">
                                Improved well-being through arts, culture and
                                sport
                            </li>
                            <li class="">
                                Improved access to community facilities and
                                services
                            </li>
                            <li class="">
                                Increased volunteering and community
                                participation
                            </li>
                            <li class="">
                                People enabled to fully participate in their
                                community
                            </li>
                            <li class="">
                                Learning and training for local people
                            </li>
                            <li class="">
                                Collaboration with other organisations to
                                deliver services
                            </li>
                        </ul>
                    </div>
                    <div
                        class="bg-white p-4 rounded-lg flex justify-between items-center"
                    >
                        <div>
                            <h2
                                class="text-l font-semibold uppercase text-red-700 border-b-2 border-red-700 mr-4 pb-2"
                            >
                                Project Contact Details
                            </h2>
                            <p class="mt-4">
                                Dergview FC<br />
                                Darragh Park,<br />
                                Castlegore Road,<br />
                                Castlederg, BT81 7RU
                            </p>
                        </div>
                        <div
                            class="w-36 h-20 flex items-center justify-center rounded-full text-center font-semibold text-l"
                        >
                            😁
                        </div>
                    </div>
                    <div class="bg-white p-4 rounded-lg">
                        <h2
                            class="text-l font-semibold text-red-700 border-b-2 border-red-700 uppercase pb-2"
                        >
                            Funded By DAERA
                        </h2>
                        <img />
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>
